@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,600,400,300|Open+Sans+Condensed:300,700|Lato:100,300,400);
.visual {
	background-color: #2AADE1;
	min-width: 960px;
}
.visual .visual-content {
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	padding-left: 10px;
}
.club-name p {
	font-weight: bold;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #FFFFFF;
	font-size: 46px;
	margin-left: 0px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.main {
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	margin-bottom: -26px;
	width: 960px;
}
.main .unit {
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.unit strong {
	font-size: 25px;
}
.section-title h3 {
	width: 375px;
	margin-top: 30px;
}
.single-member {
	background-color: #FFFFFF;
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: medium;
	border-radius: 12px;
}
.single-member p {
	font-weight: bold;
	font-size: 88%;
	margin-top: -4px;
}
.single-member img {
	width: 120px;
	height: 120px;
	border-radius: 8px;
}
.container-padding {
	padding-left: 28px;
	padding-right: 28px;
}
.member-name {
	font-size: 23px;
	height: 100px;
	padding-top: 35px;
}
.activity-image   {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}
.contact {
	font-size: 34px;
	margin-bottom: 50px;
}
.twitter-box {
	background-color: #29A9DF;
	color: #FFFFFF;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 12px;
}
.mail-box   {
	color: #FFFFFF;
	background-color: #29A9DF;
	margin-right: auto;
	width: 200px;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 12px;
}
.twitter-box a {
  color: #FFFFFF;
}
.mail-box a {
  color: #FFFFFF;
}
.apply-info {
	font-size: 17px;
	margin-bottom: 30px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.members {
	margin-bottom: 50px;
}
.deposit {
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	background-color: #FF8053;
	color: #FFFFFF;
	border-style: double;
}
.unit p {
	margin-top: 6px;
	text-indent: 6px;
}
.aplly-box {
	text-align: center;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 310px;
}
@media (min-width: 321px) and (max-width: 768px) {
.visual {
  min-width: 768px;
}
.visual .visual-content {
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}
.main {
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	margin-bottom: -26px;
	width: 750px;
}
.summary {
	font-size: 12px;
	padding-top: 6px;
	padding-left: 1px;
}
}

@media (max-width: 321px) {
.visual {
  min-width: 320px;
}
.visual .visual-content {
  margin-left: auto;
  margin-right: auto;
  width: 310px;
}
.main {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -26px;
	width: 310px;
}
.apply-info {
	font-size: 15px;
}
.twitter-box {
  width: 150px;
}
.mail-box {
  width: 150px;
}
}
