@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,600,400,300|Open+Sans+Condensed:300,700|Lato:100,300,400);
footer{
  background-color: #2AADE1;
  min-width: 960px;
}
footer .footer-content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
footer .thumb {
	margin-left: auto;
	margin-right: auto;
}
footer .thumb h2 {
	background-color: #31B1E2;
	color: #FFFFFF;
}
footer .thumb img {
}
footer .thumb p {
	color: #000000;
}
footer .summary {
}
footer .thumb .footer {
	background-color: #F2F2F2;
	text-align: center;
	color: #000000;
}
footer .thumb h2 {
	background-color: #535353;
}
footer .thumb h4 {
	color: #444444;
}
footer .found {
	background-color: #E74C7E;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}
footer .found p strong {
}
footer h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
footer h3 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
footer .found .found-content {
}
footer .footer-row-top {
}
footer .row .footer-row-bottom {
}
meter {
}