@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,600,400,300|Open+Sans+Condensed:300,700|Lato:100,300,400);
.main-title h1 {
  color: #FFFFFF;
  font-size: 40px;
}
.visual {
	background-color: #2AADE1;
  min-width: 960px;
}
.visual .visual-content {
	margin-left: auto;
	margin-right: auto;
  width: 960px;
}
.visual .pickup {
	color: #444444;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}
.pickup{
  width: 260px;
}
.pickup .pickup-content {
}
.pickup p strong {
}
.main {
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
  width: 960px;
}
.main .unit {
	margin-left: auto;
	margin-right: auto;
}
.thumb {
	margin-left: auto;
	margin-right: auto;
  width: 260px;
}
.thumb h2 {
	background-color: #31B1E2;
	color: #FFFFFF;
}
.thumb p {
	color: #000000;
}
.thumb .footer {
	background-color: #F2F2F2;
	text-align: center;
	color: #000000;
}
.thumb img {
}
.footer-small {
	background-color: #F9F9F9;
	text-align: center;
	color: #000000;
}
.section-title h3 {
}
.unit .found {
	color: #FFFFFF;
	background-color: #E74C7E;
	margin-left: auto;
	margin-right: auto;
  width: 260px;
}
.unit strong {
}
.found p strong {
}
.if {
	text-align: center;
	background-color: #515151;
	color: #FFFFFF;
}
.more h3 {
	text-align: center;
	background-color: #218BB4;
	color: #FFFFFF;
}
.thumb h4 {
	color: #444444;
}
.first-member {
	background-color: #16DC1F;
	color: #FFFFFF;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.summary {
}
.found .found-content {
}
.single-member {
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: thin;
}
.single-member p {
	text-align: center;
}
.single-member img {
}
.container-padding {
}
.member-name {
}
.activity-image   {
	text-align: center;
}
.copy {
	background-color: #FFFFFF;
	text-align: center;
}
.contact {
}
.progress {
}
meter {
}
.visual .thumb h2 {
	background-color: #535353;
}
@media (min-width: 321px) and (max-width: 768px) {
  .visual {
  width: 768px;
  }
  .visual .visual-content {
  width: 500px;
  }
  .main {
  width: 500px;
  }
  .thumb {
  width: 210px;
  }
  .pickup{
  width: 210px;
  }
  .unit .found {
  width: 210px;
  }  
}

@media(max-width: 320px) {
  .visual .visual-content {
  width: 320px;
}
}