<!DOCTYPE html>
<html ng-app="myapp" lang="en" ng-controller="Ctrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="angular/angular.min.js"></script>
    <script src="angular/angular-sanitize.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script>
        var app = angular.module('myapp', ['ngSanitize'])
            .directive('myRepeatDirective', function() {
                return function(scope, element, attrs) {
                    !function(d,s,id){
                        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                        if(!d.getElementById(id)){js=d.createElement(s);
                        js.id=id;
                        js.src=p+"://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js,fjs);
                    }}(document,"script","twitter-wjs");
                };
            });

        var url = location.hostname;
        var domain = url.split(".").shift();

        app.controller('Ctrl',  ['$scope', function($scope) {
            $.ajax({
              type: 'GET',
              url: 'api.php',
                data: {
                    'domain': domain,
                },
              success: function(data){
                $scope.club_info =  data.club_info;
                $scope.tweet_list = data.tweet_list;
                $scope.image_list = data.image_list;
                $scope.member_screenname_list = data.member_screenname_list;
                $scope.$apply();
              },
              error: function(){
                     alert('error');
              }
            });

            $scope.data = widget_data_factory();
            $scope.getNumber = function(num) {
               return new Array(num);   
            }
        }]);

        function widget_data_factory(){
            var result = {
                top_widget_list: widget_mock(2),
                hot_widget_list: widget_mock(3),
                new_widget_list: widget_mock(4),
                other_widget_list: widget_mock(4),
                footer_widget_list: widget_mock(1),
            };
            return result;
        }
        function widget_mock(num){
            var result = [];
            var rand_str = "じゅげむじゅげむごこうのすりきれかいじゃりすいぎょのすいぎょうまつうんらいまつふうらいまつくうねるところにすむところやぶら";
            for (i = 0; i < num; i++) { 
                mock = {
                    'name':rand_str.slice(-1 * Math.floor(Math.random()*8 + 3)) + '部',
                    'caption':rand_str.slice(-1 * Math.floor(Math.random()*80 + 20)),
                    'member_total':Math.floor(Math.random()*50+1),
                    'member_last':Math.floor(Math.random()*5+1),
                    'member_new':Math.floor(Math.random()*5+1),
                    'img': "http://p.pne.jp/d/201407231946.png",
                };
                result.push(mock);                   
            }
            return result;
        }
    </script>
    <script type="text/ng-template" id="widget_template.html">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="thumbnail thumbnail-club">
                <div class="title">{{widget.name}}</div>
                <img ng-src="{{widget.img}}" alt="...">
                <div class="caption">
                    <p>{{widget.caption}}</p>
                    <div class="progress-user">
                        <div class="row">
                            <div class="col-xs-12">
                                <span ng-repeat ="i in getNumber(widget.member_new) track by $index" class="text-primary glyphicon glyphicon-user"></span>
                                <span ng-repeat ="i in getNumber(widget.member_last) track by $index" class="text-muted glyphicon glyphicon-user"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="thumbnail-club-tip">募集枠</div> <strong>{{widget.member_last + widget.member_new}}人</strong>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail-club-tip">新入部員</div> <strong>{{widget.member_new}}人</strong>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail-club-tip">部員総数</div>
                            <strong>{{widget.member_total}}人</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</head>

<body>
    <div class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="pneclub-logo">{{club_info.club_name_long}}</h1>
                </div>
            </div>
        </div>
    </div>



    <div class="container topic">
        <div class="row">
            <div class="col-xs-12">
                <img ng-src="{{club_info.background}}" style="width: 100%; max-height: 300px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h2 class="h2-deco">{{club_info.club_name_long}}とは?</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p>
                        {{club_info.description}} 
                </p>
            </div>
        </div>
    </div>

    <div class="container topic">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h2-deco text-center">活動風景</h2>
            </div>
        </div>
    </div>

    <div class="container">    
        <div class="row">
            <div ng-repeat="image in image_list track by $index">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="thumbnail square">
                        <img ng-src="{{image}}" class="img-square" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container topic">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h2 class="h2-deco">メンバー</h2>
            </div>
        </div>
    </div>

    <div class="container">    
        <div class="row">
            <div ng-repeat="member in member_screenname_list">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="thumbnail square-small">
                        <a ng-href="https://twitter.com/{{member.screenname}}"><img class="img-square-small" ng-src="https://twitter.com/api/users/profile_image?screen_name={{member.screenname}}&size=original" alt="..."></a>
                    </div>
                    <a ng-href="https://twitter.com/{{member.screenname}}"><p align="center">@{{member.screenname}}</p></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container topic">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h2 class="h2-deco">基本情報</h2>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">{{club_info.club_name_long}}について</h3></div>
                    <table class="table">
                        <colgroup>
                            <col class="col-xs-2">
                            <col class="col-xs-6">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>活動名</td>
                                <td>{{club_info.club_name_long}}</td>
                            </tr>
                            <tr>
                                <td>部員数</td>
                                <td>部員数 {{club_info.member_total}}人 | 募集中 {{club_info.member_last}}人 | 新入部員 {{club_info.member_new}}人  </td>
                            </tr>
                       <!-- <tr>
                                <td>部費</td>
                                <td>毎月3,000円（カード決済）</td>
                            </tr> -->
                            <tr>
                                <td>活動場所</td>
                                <td>{{club_info.place}}</td>
                            </tr>
                            <tr>
                                <td>部費の使途</td>
                                <td>{{club_info.use_budget}}</td>
                            </tr>
                            <tr>
                                <td>定期活動</td>
                                <td>{{club_info.regular_activity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="container topic">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h2 class="h2-deco">募集案内</h2>
            </div>
        </div>
    </div> 
 
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="row">
                    <p align="center">クラブへの参加に興味のある方は募集ツイートにファボ★をお願いします。こちらからご連絡します。</p>
                    <br>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-repeat="tweet in tweet_list" ng-cloak my-repeat-directive>
                    <div class="row">
                    <div class="col-xs-12">
                    <blockquote class="twitter-tweet" lang="ja" width="800" data-cards="hidden" align="center">
                        <p><span ng-bind-html="tweet.text | linky" /></p>
                        <a ng-href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}">{{tweet.created_at | date:'mm:ss - yyyy年MM月dd日' }}</a></blockquote>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="bg-primary">
            <div class="container footer-container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="footer-title">
                                    <p class="text-center">PNE.club</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 hidden-xs-12">
                                <div class="footer-newclub">
                                    <p class="text-center">新しいクラブ、増加中! >></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 hidden-xs">
                                <div class="found">
                                    <p style="margin-left: 15px; color: white; font-size: 200%; font-weight: bold;">クラブをつくる</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="widget in data.footer_widget_list">
                        <div ng-include="'widget_template.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>