.title {
	font-size: 4em;
	padding-top: 10px;
	padding-bottom: 10px;
}
.topic {
	margin-top: 30px;
}
footer {
}
.new-club p {
	font-size: 22px;
	padding-top: 37px;
}
.found p {
	padding-top: 44px;
}
.footer-title {
	margin-top: 144px;
}
