.divbtn-newclub {
background-color: #E74C7E;
width: 100%;
height:100px;
margin-bottom: 30px;
position:relative;
}

.divbtn-newclub span{
color: white;
font-size: 200%;
font-weight: bold;

position:absolute;
left: 5px;
bottom: 5px;
}
.pneclub-logo{
font-size: 400%;
font-weight: 500;
margin-top: 25px;
margin-bottom: 25px;
}
.bg-primary {
background-color: #2aade1;
}

footer .footer-title {
font-size: 400%;
height: 345px;
line-height: 345px;
font-weight: 500;
}
.footer-title p{
vertical-align: bottom;
}
.topic {
margin-top: 30px;
}

.footer-newclub p {
font-size: 120%;
height: 172.5px;
line-height: 172.5px;
}
.found p {
padding-top: 44px;
}
.found {
background-color: #E74C7E;
height: 100px;
min-width: 0;
margin-top: 36.25px;
}

.thumbnail-club{
border-radius: 0;
border: 0;
padding: 0;
}

.thumbnail-club .title{
padding-top: 6px;
padding-left: 6px;
margin-top: 0;
background-color: #2aade1;
color: white;
height: 40px;
width: 100%;
font-size: 120%;
font-weight: bold;
overflow: hidden;
white-space: nowrap;
}

.bg-primary .thumbnail-club .title{
background-color: #535353;
}

.thumbnail-club .btn{
border-radius: 0;
}
.thumbnail-club p{
height: 60px;
overflow: hidden;
margin-bottom: 0;
}

.thumbnail-club .caption{
background-color: #F2F2F2;
padding-bottom: 6px;
}

.progress-nav{
height: 25px;
}

@media (max-width: 991px) {
.progress-user {
font-size: 110%;
}
.thumbnail-club-tip{
font-size: 80%;
}
.footer-newclub p {
font-size: 120%;
height: 146.5px;
line-height: 146.5px;
    }
    footer .footer-title {
font-size: 350%;
height: 293px;
line-height: 293px;
font-weight: 500;
    }
    .found {
background-color: #E74C7E;
height: 100px;
min-width: 0;
margin-top: 23.25px;
font-size: 12px;
    }
}
@media (max-width: 728px) {
.pneclub-logo{
font-size: 300%;
font-weight: 500;
margin-top: 25px;
margin-bottom: 25px;
    }
footer .footer-title {
font-size: 350%;
height: 100px;
line-height: 100px;
font-weight: 500;
    }
    .footer-newclub p {
font-size: 120%;
height: 60px;
line-height: 60px;
    }
}
@media (min-width: 992px) {
.progress-user {
font-size: 150%;
}
}



.main-anchor-div{
background-color: #FFFFFF;
width: 100%;
height: 150px;
margin-bottom: 30px;
padding: 10px;
padding-left: 15px;
font-size: 180%;
line-height: 170%;
font-weight: bold;
text-shadow: 2px 2px 2px #222;
color: #fff;
}

.h2-deco{
font-weight: bold;
border-bottom:solid 1px #eee;
padding-bottom: 4px;
}

.footer-container{
padding-top: 20px;
}

footer{
height: 300px;

}

.thumbnail{
border: 0!important;
}
.thumbnail-md{
height: 220px;
}
.thumbnail-md img{
max-height: 200px;
max-width: 200px;
}

.img-square-small {
width: 150px;
max-height:150px;
}
.thumbnail-img{
width: 200px;
max-height:200px;
}

/* single.php用 */
.square{
width: 200px;
/*height: 200px;*/
margin-left:auto;
margin-right:auto;
overflow-y: hidden;
display: box;
  　display: -webkit-box;
  　display: -moz-box;
　　box-align:center;
  　-webkit-box-align:center;
  　-moz-box-align:center;
}
.square-small{
width:150px;
/*max-height:150px;*/
margin-left:auto;
margin-right:auto;
overflow-y: hidden;
}
.square-xsmall{
width:50px;
/*max-height:50px;*/
margin-left:auto;
margin-right:auto;
overflow-y: hidden;
}

/* twitter-widget用 */
.tw-widget {
border-left-style: ridge;
border-right-style: ridge;
border-bottom-style: ridge;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}
.tw-tweet {
border-top-style: ridge;
margin-bottom:5px;
}

a:hover {
text-decoration: none;
}
.tw-name {
color: #000000;
margin-right: 6px;
}
.tw-screen-name {
color: rgba(137,137,137,0.70);
margin-right: 6px;
}
.tw-datetime {
color: rgba(137,137,137,0.70);
}
.button-icon {
margin-bottom:2px;
margin-right:2px;
}
.tw-fav {
text-align: center;
}
.tw-reply {
text-align: center;
}
.tw-tweet-text {
width: 90%;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 15px;
}
.text-img{
text-align:center;
}
.tw-tweet img {
margin-right:5px;
margin-left:5px;
margin-top:5px;
}
.tw-info {
margin-right: 5px;
margin-left: 10px;
height: 50px;
margin-top: 5px;
}
@media (max-width: 728px) {
.tw-tweet-text {
margin-top: 10px;
}
.tw-info {
margin-top: 5px;
font-size: 15px;
margin-left: 0px;
}
}